header {
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    font-family: "Akzidenz Grotesk";
    font-size: 22px;
    width: 960px;
    text-align: center;
}


@font-face {
    font-family:"Akzidenz Grotesk"; 
    src: url('https://github.com/ashildurf/ashildurf.github.io/blob/master/fonts/Akzidenz%20Grotesk%20Black.ttf') format('ttf');
    font-weight:normal;
    font-style:normal;
}

.ace_editor {
    font-family:akzidenzgrotesk!important;
}