body {
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    font-family: "Mononoki";
    font-size: 22px;
    width: 960px;
    text-align: center;
}


@font-face {
    font-family:"mononoki"; 
    src: url('https://madmalik.github.io/mononoki/fonts/mononoki-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://madmalik.github.io/mononoki/fonts/mononoki-Regular.woff2') format('woff2'),
         url('https://madmalik.github.io/mononoki/fonts/mononoki-Regular.woff') format('woff'),
         url('https://madmalik.github.io/mononoki/fonts/mononoki-Regular.ttf')  format('truetype');
    font-weight:normal;
    font-style:normal;
}

.ace_editor {
    font-family:mononoki!important;
}